<footer class="site-footer">
  <div class="footer-content">
    <a class="footer-link" href="assets/Ritvik_Mahapatra_Resume1.pdf" download>
        <mat-icon>file_download</mat-icon>
      Download Resume
    </a>
    <a class="footer-link" href="https://github.com/R1tMah" target="_blank" rel="noopener">
      <mat-icon>code</mat-icon>
        GitHub
    </a>
    <a class="footer-link" href="https://www.linkedin.com/in/ritvik-mahapatra-47213023a/" target="_blank" rel="noopener">
       
        <mat-icon>business</mat-icon>
        LinkedIn
    </a>
    <a class="footer-link" href="mailto:rimahapatra7@gmail.com">
        <mat-icon>email</mat-icon>
      Email Me at rimahapatra7&#64;gmail.com
    </a>
  </div>
  <div class="footer-credit">
    © 2025 Ritvik Mahapatra
  </div>
</footer>
