<!-- src/app/pages/vibematch/vibematch.component.html -->
<div class="typewriter-container">
  <h2 class="typewriter-heading">This is VibeMatch</h2>
</div>
<div class="typewriter-full">
  <span class="line1">
    This is a place where we can compare our music tastes. 
  </span><br>
  <span class="line2">
    I listen to primarily Rap and R&B. Input your 5 favorite artists below to see how well we match... and maybe I can put you on
  </span>
</div>
<mat-card class="vibe-card">
  <h2>VibeMatch</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formArrayName="artists">
      <mat-form-field appearance="fill" class="dark-field"
        *ngFor="let ctl of artists.controls; let i = index">
        <input matInput
               placeholder="Artist {{ i + 1 }}"
               [formControlName]="i" 
               [matAutocomplete]="auto"
               />
               
 
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayArtistName"
          >
          <mat-option
            *ngFor="let artist of artistOptions[i] | async"
            [value]="artist"
          >
            {{ artist.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>

    <button mat-raised-button color="primary" [disabled]="loading">
      <ng-container *ngIf="!loading; else loadingTpl">
        Match Vibes
      </ng-container>
      <ng-template #loadingTpl>
        <mat-progress-spinner
          class="button-spinner"
          diameter="20"
          mode="indeterminate">
        </mat-progress-spinner>
        <div class="typewriter-full">
          <br>
          <span class="line3">
            Generating music recommendations... this might take around 30 seconds
          </span><br>
        </div>
        <p></p>
      </ng-template>
    </button>
  </form>

  <div *ngIf="result" class="result">
    <h3>Your Score: {{ result.score }} / 100</h3>
    <p>{{ result.caption }}</p>
  </div>
  <div *ngIf="result?.recommendations?.length" class="recommendations">
    <h4>Top Matches</h4>
    <div class="rec-grid">
      <mat-card *ngFor="let rec of result?.recommendations" class="rec-card">
        <!-- album_image may be null for now -->
        <img mat-card-image
             [src]="rec.album_image || 'assets/placeholder.png'"
             alt="{{ rec.title }}"
             class="rec-image"/>
        <mat-card-content>
          <h5>{{ rec.title }}</h5>
          <p class="artist">{{ rec.artist }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card>
